<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
          http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">

	<servlet>
		<servlet-name>mvc-dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>mvc-dispatcher</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>

<!--	<servlet>
		<servlet-name>test</servlet-name>
		<servlet-class>by.intexsoft.SHJ.controller.BookControllerTest</servlet-class>
	</servlet>
	 <servlet> <servlet-name>home</servlet-name> <servlet-class>by.intexsoft.SHJ.controller.HomeController</servlet-class> 
		</servlet> <servlet> <servlet-name>Jpa</servlet-name> <servlet-class>by.intexsoft.SHJ.controller.BookController</servlet-class> 
		</servlet> 

	<servlet-mapping>
		<servlet-name>test</servlet-name>
		<url-pattern>/spring</url-pattern>
	</servlet-mapping>
	 <servlet-mapping> <servlet-name>home</servlet-name> <url-pattern>/home</url-pattern> 
		</servlet-mapping> <servlet-mapping> <servlet-name>Jpa</servlet-name> <url-pattern>/book</url-pattern> 
		</servlet-mapping> 

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>-->

</web-app>